services:
  postgresdb:
    image: postgres:16-alpine
    container_name: substracker_postgres_db
    env_file:
      - ".env"
    ports:
      - "5433:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
  
  mongodb:
    image: mongo:7
    container_name: notification_service_mongo_db
    ports:
      - "27017:27017"
    env_file:
      ".env"
    volumes:
      - mongo-data:/data/db
  
  redis:
    image: redis:7.2
    container_name: substracker_redis
    ports:
      - "5140:6379"
    restart: always
  
  rabbitmq:
    image: masstransit/rabbitmq:latest
    container_name: rabbitmq_masstransit_bus
    ports:
      - "5672:5672"
      - "15672:15672"
    restart: always
    env_file:
      - ".env"

  papercut:
    image: changemakerstudiosus/papercut-smtp:latest
    container_name: notification_service.papercut
    ports:
      - "37408:8080"
      - "2525:2525"

  substracker:
    build:
      dockerfile: Dockerfile
      args:
        GITHUB_TOKEN: ${GITHUB_TOKEN}
    container_name: substracker
    depends_on:
      - rabbitmq
      - postgresdb
      - redis
    env_file:
      - ".env"
    ports:
      - "8080:8080"

  notificationservice:
    build:
      context: ../NotificationService
      dockerfile: Dockerfile
      args:
        GITHUB_TOKEN: ${GITHUB_TOKEN}
    container_name: notification_service
    depends_on:
      - substracker
      - papercut
      - rabbitmq
      - postgresdb
      - mongodb
    env_file:
      - ".env"

volumes:
  postgres-data: 
  mongo-data:


